@model NvhBaiKiemTraGK.Model.nvhKhoa

@{
    ViewBag.Title = "NvhDetails";
}

<h2>Details</h2>

<div>
    <h4>nvhKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NvhTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvhTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvhTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvhTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("NvhEdit", "NvhEdit", new { id = Model.NvhMaKH }) |
    @Html.ActionLink("Back to List", "NvhIndex")
</p>
